@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styling */
@layer base {
  :root {
    --color-text-primary-light: #282828;
    --color-text-secondary-light: #36454F;
    --color-bg-light: #fcfbf7;

    --color-text-primary-dark: #ffd700;
    --color-text-secondary-dark: #ffffff;
    --color-bg-dark: #191970;
  }

  body {
    @apply 
    tracking-wide 
    
    bg-[var(--color-bg-light)] 
    text-[var(--color-text-primary-light)] 

    dark:bg-[var(--color-bg-dark)] 
    dark:text-[var(--color-text-secondary-dark)]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply 
    font-bold
  }

  h1 {
    @apply 
    text-4xl 
    sm:text-5xl 
    md:text-6xl
  }

  h2 {
    @apply 
    text-3xl 
    sm:text-4xl 
    md:text-5xl
  }

  li {
    @apply 
    cursor-pointer
  }

  button {
    @apply 
    shadow-lg 
    p-2 
    rounded-lg 
    uppercase
    /* custom gradient below */
    /* bg-gradient-to-r from-red-200 to-green-200 */
      
    shadow-gray-400 
    
    dark:shadow-gray-900
    }

}

@layer components {

  .navbarLink {
    @apply
    ml-10
    text-sm
    uppercase
    hover:border-b
  }

  .title {
    @apply 
    
    text-[var(--color-text-primary-light)] 
    
    dark:text-[var(--color-text-primary-dark)]
  }

  .subtitle {
    @apply 
    
    text-[var(--color-text-secondary-light)] 
    
    dark:text-[var(--color-text-secondary-dark)]
  }

}