@import url('https://fonts.googleapis.com/css2?family=Caveat&family=La+Belle+Aurore&family=Montserrat&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  scroll-padding-top: 80px;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
}

/* global styling */
@layer base {
  :root {
    --color-text-primary-light: #5D3FD3; /* purple */
    --color-text-secondary-light: #36454F; /* charcoal */
    --color-text-accent-light: #009698; /* viridian green */
    --color-bg-light: #fcfbf7; /* eggshell whitish */
    --color-shadow-light: #9ca3af;

    --color-text-primary-dark: #d4af37; /* metallic gold */
    --color-text-secondary-dark: #fcfbf7; /* beige */
    --color-text-accent-dark: #E98980; /* coral */
    --color-bg-dark: #202020; 
    --color-bg-darker: #191919; 
    --color-shadow-dark: #0f0f0f; /* onyx */

    /* night blue */
    /* --color-bg-dark: #040348;  */
    /* interstellar blue */
    /* --color-bg-darker: #001155;  */

    --max-width-outer: 1440px;
    --max-width-inner: 70%;
  }

  body {
    @apply 
    tracking-wide
    transition duration-500
    font-secondary
    
    bg-[var(--color-bg-light)] 
    text-[var(--color-text-secondary-light)] 

    dark:bg-[var(--color-bg-dark)] 
    dark:text-[var(--color-text-secondary-dark)]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply 
    font-bold
  }

  h1 {
    @apply 
    text-4xl 
    sm:text-5xl 
    md:text-6xl
  }

  h2 {
    @apply 
    text-3xl 
    sm:text-4xl 
    md:text-5xl
  }

  h3 {
    @apply 
    text-2xl 
    sm:text-3xl 
    md:text-4xl
  }

  h4 {
    @apply 
    text-xl 
    sm:text-2xl 
    md:text-3xl
  }

  button {
    @apply 
    shadow-lg 
    p-2 
    rounded-lg 
    uppercase
    /* custom gradient below */
    /* bg-gradient-to-r from-red-200 to-green-200 */
      
    shadow-[var(--color-shadow-light)] 
    
    dark:shadow-[var(--color-shadow-dark)]
    }

}

@layer components {

  /* Color schemes */
  .color-text-primary {
    @apply
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  .color-text-accent {
    @apply
    text-[var(--color-text-accent-light)]
    dark:text-[var(--color-text-accent-dark)]
  }

  .color-text-secondary {
    @apply
    text-[var(--color-text-secondary-light)]
    dark:text-[var(--color-text-secondary-dark)]
  }

  .color-bg {
    @apply
    bg-[var(--color-bg-light)]
    dark:bg-[var(--color-bg-darker)]
  }

  .color-bg-inverse {
    @apply
    bg-[var(--color-bg-dark)]
    dark:bg-[var(--color-bg-light)]
  }

  .color-shadow {
    @apply
    shadow-[var(--color-shadow-light)] 
    dark:shadow-[var(--color-shadow-dark)]
  }

  /* Navbar */
  .navbar-link {
    @apply
    ml-8
    text-sm
    uppercase
    hover:border-b
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  /* Text formatting for information */
  .title {
    @apply 
    font-primary

    text-[var(--color-text-primary-light)] 
    dark:text-[var(--color-text-primary-dark)]
  }

  .subtitle {
    @apply 
    font-primary

    text-[var(--color-text-accent-light)] 
    dark:text-[var(--color-text-accent-dark)]
  }

  .body-text {
    @apply

    text-[var(--color-text-secondary-light)] 
    dark:text-[var(--color-text-secondary-dark)]
  }

  /* Icon styling */
  .rounded-icon {
    @apply
    rounded-full 
    shadow-lg 
    p-3 
    cursor-pointer 
    hover:scale-110 
    ease-in 
    duration-75

    bg-[var(--color-bg-light)]
    shadow-[var(--color-shadow-light)] 
    text-[var(--color-text-secondary-light)]
    
    dark:bg-[var(--color-bg-darker)]
    dark:shadow-[var(--color-shadow-dark)]
    dark:text-[var(--color-text-secondary-dark)]
  }

  .back-to-top-button {
    @apply
    rounded-full 
    shadow-lg 
    p-2
    cursor-pointer 
    hover:scale-110 
    ease-in 
    duration-100
    text-2xl

    text-[var(--color-text-primary-light)]
    shadow-[var(--color-shadow-light)] 
    bg-[var(--color-bg-light)]
    
    dark:text-[var(--color-text-primary-dark)]
    dark:shadow-[var(--color-shadow-dark)]
    dark:bg-[var(--color-bg-darker)]
  }

  /* Image */
  .image-static {
    @apply
    mx-auto
    rounded-lg
    shadow-md
    relative
    z-10
    shadow-[var(--color-shadow-light)] 
    dark:shadow-[var(--color-shadow-dark)]
  }

  .image-hover {
    @apply
    hover:shadow-xl 
    ease-in-out
    duration-300
    shadow-[var(--color-shadow-light)] 
    dark:shadow-[var(--color-shadow-dark)]
  }

  /* TimelineCard styles */
  .timeline-title {
    @apply
    font-primary
    text-base
    md:text-xl
    lg:text-lg
    
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  .timeline-subtitle {
    @apply
    font-primary
    text-sm
    md:text-lg
    lg:text-base
    py-1
    
    text-[var(--color-text-accent-light)]
    dark:text-[var(--color-text-accent-dark)]
  }

  .timeline-body-text {
    @apply
    text-xs
    md:text-base
    lg:text-sm
    pt-2
  }

  .timeline-link {
    @apply
    color-text-primary 
    hover:underline
  }

  /* ProjectCard styles */
  .project-title {
    @apply
    font-primary
    text-base
    md:text-xl
    xl:text-lg
    
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  .project-subtitle {
    @apply
    font-primary
    text-sm
    md:text-lg
    xl:text-base
    py-1
    
    text-[var(--color-text-accent-light)]
    dark:text-[var(--color-text-accent-dark)]
  }

  .project-body-text {
    @apply
    text-xs
    md:text-base
    xl:text-sm
    pt-2
  }

  .project-link {
    @apply
    color-text-primary 
    hover:underline
  }

  /* Contact styling */
  .contact-input {
    @apply
    outline-none
    rounded-md
    p-3
    w-full
    my-2

    border-b
    border-r
    transition-all
    duration-300
    
    text-[var(--color-text-secondary-light)]
    border-[var(--color-text-secondary-light)]
    focus:border-[var(--color-text-primary-light)]
    bg-[var(--color-bg-light)]

    dark:text-[var(--color-text-secondary-dark)]
    dark:border-[var(--color-text-secondary-dark)]
    focus:dark:border-[var(--color-text-primary-dark)]
    dark:bg-[var(--color-bg-darker)]
  }

  .submit-button {
    @apply
    p-2
    my-3
    tracking-widest
    capitalize
    border

    duration-300
    font-bold
    focus:font-bold

    text-[var(--color-text-secondary-light)]
    border-[var(--color-text-secondary-light)]
    bg-[var(--color-bg-light)]
    focus:text-[var(--color-bg-light)]
    focus:border-[var(--color-bg-light)]
    focus:bg-[var(--color-text-primary-light)]
    hover:text-[var(--color-bg-light)]
    hover:bg-[var(--color-text-primary-light)]

    dark:text-[var(--color-text-secondary-dark)]
    dark:border-[var(--color-text-secondary-dark)]
    dark:bg-[var(--color-bg-darker)]
    focus:dark:text-[var(--color-bg-dark)]
    focus:dark:border-[var(--color-bg-dark)]
    focus:dark:bg-[var(--color-text-primary-dark)]
    hover:dark:text-[var(--color-bg-dark)]
    hover:dark:bg-[var(--color-text-primary-dark)]
  }

  .error-msg {
    @apply
    ml-3
    text-red-600
    text-xs
    uppercase
    w-full
    font-bold
  }

  .footer {
    @apply
    bg-gray-700
    text-[var(--color-bg-light)]
    dark:bg-black
    dark:text-[var(--color-text-secondary-dark)]
  }

  /* Project / Experience page styles */
  .project-page-outer-container {
    @apply
    w-full 
    h-full 
    max-w-[var(--max-width-outer)] 
    min-h-screen
    mx-auto
  }

  .project-page-inner-container {
    @apply
    pt-[100px] 
    max-w-[var(--max-width-inner)] 
    pb-[100px]
    mx-auto 
    px-5
  }

  .project-page-grid {
    @apply
    grid 
    md:grid-cols-4 
    lg:grid-cols-6
  }

  .project-page-body-col {
    @apply
    col-span-4 
    md:col-span-3 
    lg:col-span-5
  }

  .project-page-sidebar-col {
    @apply
    hidden 
    md:block 
    md:col-span-1 
    py-3
    pl-3
  }

  .project-page-section-title {
    @apply
    font-tags-2
    text-gray-400
    pt-3
    text-3xl
  }

  .project-page-image-container {
    @apply
    py-5
    flex-col
    items-center
    justify-center
  }

  .project-page-image-caption {
    @apply
    text-xs
    text-center
    py-2
    text-gray-400
  }

  .project-description-list-item {
    @apply
    list-item
    list-disc
    ml-[40px]
    mt-[10px]
  }

}