@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styling */
@layer base {
  :root {
    --color-text-primary-light: #5D3FD3; /* purple */
    --color-text-secondary-light: #36454F; /* charcoal */
    --color-text-accent-light: #667e2c; /* dirty/moss green */
    --color-bg-light: #fcfbf7; /* eggshell whitish */
    --color-shadow-light: #9ca3af;

    --color-text-primary-dark: #d4af37; /* metallic gold */
    --color-text-secondary-dark: #fcfbf7; /* beige */
    --color-text-accent-dark: #E98980; /* coral */
    --color-bg-dark: #040348; /* night blue */
    --color-bg-darker: #001155; /* interstellar blue */
    --color-shadow-dark: #0f0f0f; /* onyx */

    --max-width-outer: 1240px;
    --max-width-inner: 70%;
  }

  body {
    @apply 
    tracking-wide
    transition duration-500
    font-secondary
    
    bg-[var(--color-bg-light)] 
    text-[var(--color-text-secondary-light)] 

    dark:bg-[var(--color-bg-dark)] 
    dark:text-[var(--color-text-secondary-dark)]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply 
    font-bold
  }

  h1 {
    @apply 
    text-4xl 
    sm:text-5xl 
    md:text-6xl
  }

  h2 {
    @apply 
    text-3xl 
    sm:text-4xl 
    md:text-5xl
  }

  h3 {
    @apply 
    text-2xl 
    sm:text-3xl 
    md:text-4xl
  }

  li {
    @apply 
    cursor-pointer
  }

  button {
    @apply 
    shadow-lg 
    p-2 
    rounded-lg 
    uppercase
    /* custom gradient below */
    /* bg-gradient-to-r from-red-200 to-green-200 */
      
    shadow-[var(--color-shadow-light)] 
    
    dark:shadow-[var(--color-shadow-dark)]
    }

}

@layer components {

  /* Color schemes */
  .color-text-primary {
    @apply
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  .color-text-accent {
    @apply
    text-[var(--color-text-accent-light)]
    dark:text-[var(--color-text-accent-dark)]
  }

  .color-text-secondary {
    @apply
    text-[var(--color-text-secondary-light)]
    dark:text-[var(--color-text-secondary-dark)]
  }

  .color-bg {
    @apply
    bg-[var(--color-bg-light)]
    dark:bg-[var(--color-bg-darker)]
  }

  .color-shadow {
    @apply
    shadow-[var(--color-shadow-light)] 
    dark:shadow-[var(--color-shadow-dark)]
  }

  /* Navbar */
  .navbar-link {
    @apply
    ml-8
    text-sm
    uppercase
    hover:border-b
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  /* Text formatting for information */
  .title {
    @apply 
    font-primary

    text-[var(--color-text-primary-light)] 
    dark:text-[var(--color-text-primary-dark)]
  }

  .subtitle {
    @apply 
    font-secondary

    text-[var(--color-text-accent-light)] 
    dark:text-[var(--color-text-accent-dark)]
  }

  .body-text {
    @apply

    text-[var(--color-text-secondary-light)] 
    dark:text-[var(--color-text-secondary-dark)]
  }

  .highlight-text {
    @apply
    underline
    
    text-[var(--color-text-accent-light)] 
    dark:text-[var(--color-text-accent-dark)]
  }

  /* Icon styling */
  .rounded-icon {
    @apply
    rounded-full 
    shadow-lg 
    p-3 
    cursor-pointer 
    hover:scale-110 
    ease-in 
    duration-75

    bg-[var(--color-bg-light)]
    shadow-[var(--color-shadow-light)] 
    text-[var(--color-text-secondary-light)]
    
    dark:bg-[var(--color-bg-darker)]
    dark:shadow-[var(--color-shadow-dark)]
    dark:text-[var(--color-text-secondary-dark)]
  }

  /* Image hover */
  .image-hover {
    @apply
    hover:shadow-xl 
    ease-in-out
    duration-300
    shadow-[var(--color-shadow-light)] 
    dark:shadow-[var(--color-shadow-dark)]
  }

  /* TimelineCard styles */
  .timeline-title {
    @apply
    text-base
    md:text-lg
    lg:text-xl
    
    text-[var(--color-text-primary-light)]
    dark:text-[var(--color-text-primary-dark)]
  }

  .timeline-subtitle {
    @apply
    font-primary
    text-sm
    md:text-base
    lg:text-lg
    py-1
    
    text-[var(--color-text-accent-light)]
    dark:text-[var(--color-text-accent-dark)]
  }

  .timeline-body-text {
    @apply
    text-xs
    md:text-sm
    pt-2
  }

}